<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">
<link rel="stylesheet" href="stylesheets/zen_main_danka.css" type="text/css" id="zen_main_danka">
<link rel="stylesheet" href="stylesheets/zen_parts_danka.css" type="text/css" id="zen_parts_danka">
<title>檀家管理システム　禅</title>
<script src="js/jquery-1.10.2.min.js"></script>
<script>
 <!-- 表中の偶数行の色を変える -->
 $(function(){
     $("form").submit(function(){
         // エラーの初期化
         $("p.error").remove();
         $("td").removeClass("error");
         
         var isDuplicate = "0";
         $("input[type='text'].validate").each(function(){
            // 必須項目チェック
            if($(this).hasClass("require")){
                if($(this).val() == ""){
                    if($(this).hasClass("duplicate_pre")){
                        isDuplicate = "1";
                        $(this).parent().append("<p class='error'>値が設定されていません。</p>");
                        $(this).parent().addClass("error");
                    } else if($(this).hasClass("duplicate_end") && isDuplicate == "1"){
                        isDuplicate = "0";
                    } else {
                        $(this).parent().append("<p class='error'>値が設定されていません。</p>");
                        $(this).parent().addClass("error");
                    }
                }
            } 
            // 数字項目チェック
            if($(this).hasClass("number")){
                if(isNaN($(this).val())){
                    $(this).parent().append("<p>数値が設定されていません。</p>");
                    $(this).parent().addClass("error");
                }
            }            
         });

         // エラーチェック
         if($("p.error").length > 0){
             return false;
         }
     });
 });
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><a href="/schedule_top"><span class="ja">スケジュール</span><span class="en">schedule</span></a>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><a href="/dummy"><span class="ja">僧・世話人管理</span><span class="en">so-manage</span></a>
            <li><a href="/dummy"><span class="ja">台帳管理</span><span class="en">master</span></a>
            <li><a href="/tyohyo_main"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><a href="/dummy"><span class="ja">備品管理</span><span class="en">stock-manage</span></a> 
            <li><a href="/index_a"><span class="ja">寺院情報</span><span class="en">user-info</span></a>   
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div id="inner_title">
        <div id="title">
   	  <h2><span class="ja">檀家管理</span><span class="en">danka manage</span></h2>
        </div>
        <div id="menu_sub">
          <ul>
            <li><a href="/danka_50">50音別</a> 
            <li><a href="/danka_tiku">地区別</a>
            <li><a href="/danka_sewa">世話人別</a> 
            <li><a href="/danka_syosai">詳細検索</a>
            <li><a href="/danka_tuika">追加(戸主)</a> 
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div id="inner_main">
        <form action="/danka_tuika_conform" method="post">
          <div class="table_main_tuika">
            <table>
              <thead>
                <tr id="header">
                  <th id="newtype">登録項目</td>
                  <th id="newnaiyo">登録内容</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="name_type">戸主名(※必須)</td>
                  <td id="name">
                      <label for="name_seimei">姓: </label><input type="text" name="name_sei" class="validate require duplicate_pre">
                      <label for="name_seimei">名: </label><input type="text" name="name_na" class="validate require duplicate_end">
                  </td>
                </tr>
                <tr>
                  <td id="furigana_type">ふりがな(※必須)</td>
                  <td id="furigana">
                      <label for="furi_seimei">せい: </label><input type="text" name="furigana_sei" class="validate require duplicate_pre">
                      <label for="furi_namae">な: </label><input type="text" name="furigana_na" class="validate require duplicate_end">
                  </td>
                </tr>
                <tr>
                  <td id="sex_type">性別(※必須)</td>
                  <td id="sex">
                      <input type="radio" name="sex" class="dummay" value="0" checked><label for="man">男</label>
                      <input type="radio" name="sex" class="dummay" value="1"><label for="woman">女</label>
                  </td>
                </tr>
                <tr>
                  <td id="zip_code_type">郵便番号</td>
                  <td id="zip_code">
                      <input type="text" name="zip_code_pre" class="validate number"> - <input type="text" name="zip_code_last" class="validate number">
                  </td>
                </tr>
                <tr>
                  <td id="region_type">都道府県</td>
                  <td id="region">
                      <input type="text" name="region" class="dummay">
                  </td>
                </tr>
                <tr>
                  <td id="city_type">市区町村</td>
                  <td id="city">
                      <input type="text" name="city" class="dummay">
                  </td>
                </tr>
                <tr>
                  <td id="address_line1_type">番地</td>
                  <td id="address_line1">
                      <input type="text" name="address_line1" class="dummay">
                  </td>
                </tr>
                <tr>
                  <td id="address_line2_type">ビル名等</td>
                  <td id="address_line2">
                      <input type="text" name="address_line2" class="dummay">
                  </td>
                </tr>
                <tr>
                  <td id="birthday_type">生年月日</td>
                  <td id="birthday_y">
                     <select id="birthday_y_list"  name="birthday_y" >
                       <option value="1981">1981</option>
                       <option value="1982">1982</option>
                       <option value="1983">1983</option>
                       <option value="1984">1984</option>
                     </select>
                     年
                     <select id="birthday_m_list"  name="birthday_m" >
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                       <option value="8">8</option>
                       <option value="9">9</option>
                       <option value="10">10</option>
                       <option value="11">11</option>
                       <option value="12">12</option>
                     </select>
                     月
                     <select id="birthday_d_list"  name="birthday_d" >
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                       <option value="8">8</option>
                       <option value="9">9</option>
                       <option value="10">10</option>
                       <option value="11">11</option>
                       <option value="12">12</option>
                     </select>
                     日
                  </td>
                </tr>
                <tr>
                  <td id="tel_type">電話番号(優先1)</td>
                  <td id="tel">
                      <span id="telno_box">
                      <input type="text" name="telno_1_pre" class="validate number telno_size">
                       - <input type="text" name="telno_1_mid" class="validate number telno_size">
                       - <input type="text" name="telno_1_last" class="validate number telno_size">
                      </span>
                      <span id="telno_yoto">
                         <label>用途：</label><input type="text" name="telno_1_yoto" class="telno_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="tel_type">電話番号(優先2)</td>
                  <td id="tel">
                      <span id="telno_box">
                      <input type="text" name="telno_2_pre" class="validate number telno_size">
                       - <input type="text" name="telno_2_mid" class="validate number telno_size">
                       - <input type="text" name="telno_2_last" class="validate number telno_size">
                      </span>
                      <span id="telno_yoto">
                         <label>用途：</label><input type="text" name="telno_2_yoto" class="telno_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="tel_type">電話番号(優先3)</td>
                  <td id="tel">
                      <span id="telno_box">
                      <input type="text" name="telno_3_pre" class="validate number telno_size">
                       - <input type="text" name="telno_3_mid" class="validate number telno_size">
                       - <input type="text" name="telno_3_last" class="validate number telno_size">
                      </span>
                      <span id="telno_yoto">
                         <label>用途：</label><input type="text" name="telno_3_yoto" class="telno_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="email_type">Email(優先1)</td>
                  <td id="email">
                      <span id="email_box">
                        <input type="text" name="email_1" class="email_size">
                      </span>
                      <span id="email_yoto">
                         <label>用途：</label><input type="text" name="email_1_yoto" class="email_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="email_type">Email(優先2)</td>
                  <td id="email">
                      <span id="email_box">
                        <input type="text" name="email_2" class="email_size">
                      </span>
                      <span id="email_yoto">
                         <label>用途：</label><input type="text" name="email_2_yoto" class="email_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="email_type">Email(優先3)</td>
                  <td id="email">
                      <span id="email_box">
                        <input type="text" name="email_3" class="email_size">
                      </span>
                      <span id="email_yoto">
                         <label>用途：</label><input type="text" name="email_3_yoto" class="email_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="job_type">職業</td>
                  <td id="job">
                     <select id="job_list"  name="job_name" >
                       <option value="0">会社員</option>
                       <option value="1">自営業</option>
                     </select>
                  </td>
                </tr>
                <tr>
                  <td id="tiku_type">地区名</td>
                  <td id="tiku">
                     <select id="tiku_list"  name="tiku_name" >
                       <option value="0">座間</option>
                       <option value="1">新宿</option>
                       <option value="2">吉祥寺</option>
                       <option value="3">大井町</option>
                     </select>
                  </td>
                </tr>
                <tr>
                  <td id="sewa_type">世話人</td>
                  <td id="sewa">
                     <select id="sewa_list" name="sewa_name" >
                       <option value="0">なし</option>
                       <option value="1">世話人　太郎1</option>
                       <option value="2">世話人　太郎2</option>
                       <option value="3">世話人　太郎3</option>
                     </select>
                  </td>
                </tr>
                <tr>
                  <td id="sou_type">担当者[僧]</td>
                  <td id="sou">
                     <select id="sou_list" name="sou_name" >
                       <option value="0">未定</option>
                       <option value="1">僧侶　太郎1</option>
                       <option value="2">僧侶　太郎2</option>
                       <option value="3">僧侶　太郎3</option>
                     </select>
                  </td>
                </tr>
                <tr>
                  <td id="comment_type">備考※500文字以内</td>
                  <td id="comment">
                     <textarea name="comment" class="textarea_size"></textarea></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="new_submit"><input type="submit" value="登録" id="submit"></div>
        </form>
      </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>