<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">

<title>檀家管理システム　禅</title>

  <!-- jQuery JS -->
  <script src="/js/jquery-1.10.2.min.js"></script>

  <!-- Bootstrap JS & CSS -->
  <script src="/js/bs3.0.3/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/bs3.0.3/bootstrap.css' />

  <!-- Select2 JS & CSS -->
  <link rel='stylesheet' href='/stylesheets/select2-3.4.5/select2.css' />
  <link rel='stylesheet' href='/stylesheets/select2-3.4.5/select2-bootstrap.css' />
  <script src="/js/select2-3.4.5/select2.js"></script>

  <!-- Default CSS -->
  <!-- <link rel='stylesheet' href='/css/style.css' /> -->
  <link rel="stylesheet" href="stylesheets/zen_main_danka2.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/zen_syosai_new.css" type="text/css" id="zen_parts_danka">

  <!-- icons from font Awesome -->
  <link rel="stylesheet" href="stylesheets/font-awesome/font-awesome.css">

  <!-- socket.IO -->
  <script src="/socket.io/socket.io.js"></script>

<script>
     <!-- 表中の偶数行の色を変える -->
        // ソケット通信の開始
    var socket = io.connect("http://localhost");

    // GetTargetListメッセージを送る
    function GetSearchTargetList() {
      // 検索ボックスに入力されたtagsを送る
      var searchTag = $('#serch_tag').val();
      var isKako = $(".is_kako").prop('checked');
      var filterJiin = $("select[name='jiin']").val();
      var filterTikuCode = $("select[name='tiku_name']").val();
      var filterTag = $("select[name='tag']").val();
      socket.emit('GetSearchTargetList', { searchTag: searchTag, isKako: isKako, filterJiin: filterJiin, filterTikuCode: filterTikuCode, filterTag: filterTag });
    }

    function goDankaDetail(id){
        location.href = "/danka_detail_top?id=" + id;
    }
    // GetTargetListメッセージを受けたとき
    socket.on('GetSearchTargetList', function(data) {
      
      $('#search_count').text('[検索件数]：' + data.length + '件');
      
      // まずは一度全て取り除く
      $('#target_list > tr').remove();
      
      // 検索結果がゼロの場合
      if(data.length ===0 ){

        html +=  "<tr>";
        html +=   "<td colspan = 10>";
        html +=     "<br>該当する結果が0件です。<br>";
        html +=     "<br>※1:キーワードが間違っていないか確認して下さい。";
        html +=     "<br>※2:複数のキーワードがある場合、and検索(全てのキーワードが含まれる)します。キーワードを減らしてみてください。";
        html +=   "</td>";
        html +=  "</tr>";
        $('#target_list').append(html);
      }
      // 検索結果が有る場合
      else{
        for(var i=0;i<data.length;i++){
        	var html = "";
            if(i % 2 == 0){
                html += '<tr onClick="goDankaDetail(' + data[i].member_id_kosyu + ')">';    
            } else{
                html += '<tr class="even" onClick="goDankaDetail(' + data[i].member_id_kosyu + ')">';
            }
            
            html +=   "<td>";
            html +=     data[i].name;
            html +=   "</td>";
            html +=   "<td>";
            html +=     data[i].tiku_name;
            html +=   "</td>";
            html +=   "<td>";
            html +=     data[i].tags;
            html +=   "</td>";
            html +=   "<td>";
            html +=     data[i].jiin;
            html +=   "</td>";
            html +=   "<td>";
            html +=     data[i].is_arive;
            html +=   "</td>";
            html +=  "</tr>";
  
          $('#target_list').append(html);
        }
      }
    });


 $(function(){
   $("#target_list tr").click(function(){
     var id = $(this).children(".table_name_full_kosyu").attr("id");
     location.href = "/danka_detail_top?id=" + id;
   });
 });
</script>

<!-- select2による検索ボックスのサジェストスクリプト -->
<script>
    var msg = "サジェスト候補を取得";
    socket.emit('GetTypeahead', { value: msg });
    socket.on('GetTypeahead', function(data) {
        $(function(){
            $('#serch_tag').select2({
                createSearchChoice:function(term, data) {
                    if ($(data).filter(function() {
                        return this.text.localeCompare(term)===0; }).length===0) {
                        return { id:term, text:term };
                    }
                },
                placeholder: '検索キーワードを入力して下さい。',
                multiple: true,
                maximumSelectionSize: 10,
                data: data
            });
        });
    });
</script>

</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><span class="ja">スケジュール</span><span class="en">schedule</span>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
            <li><span class="ja">台帳管理</span><span class="en">master</span>
            <li><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><span class="ja">備品管理</span><span class="en">stock-manage</span>
            <li><span class="ja">寺院情報</span><span class="en">user-info</span>
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div id="inner_title">
        <div id="title">
   	  <h2><span class="ja">檀家管理</span><span class="en">danka manage</span></h2>
        </div>
        <div id="menu_sub">
          <ul>
            <li><a href="/danka_syosai_new">検索(簡易)</a>
            <li><a href="/danka_50">検索(50音)</a> 
            <li><a href="/danka_syosai">検索(詳細)</a>
            <li><a href="/danka_tuika">戸主追加</a> 
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_filter -->
      <div id="inner_filter">
          <div id="inner_fiter_sum" class="row">
              <div class="col col-sm-12">
                <label id="search_count">[検索件数]：件</label>          
              </div>
          </div>

          <div id="inner_filter_main">
            <div class="row">
                <div class="col col-sm-10 padding-right-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                        <span class="input-group-addon">名前</span>
                      <input type="text" id="serch_tag" class="form-control input-sm" placeholder="漢字、又はふりがなを入力して下さい。（部分一致検索）">
                    </div>
                </div>
                <div class="col col-sm-2 padding-right-zero left">
                    <button class="btn btn-info" onclick="GetSearchTargetList()">検索</button>
                </div>
            </div>

            <div class="row top-margin-sm left">
                <div class="col col-sm-3 padding-right-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                        <span class="input-group-addon">寺院</span>
                        <select class="form-control input-sm" name="jiin">
                            <option value=0>---</option>
                            <option value="長伝寺">長伝寺</option>
                            <option value="水月寺">水月寺</option>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-3 padding-right-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                        <span class="input-group-addon">地区</span>
                        <select class="form-control input-sm" name="tiku_name">
                        <% for(var i in tikuCodeInfo){
                            var _tikuCode = tikuCodeInfo[i].tiku_code;
                            var _tikuName = tikuCodeInfo[i].tiku_name; %>
                            <option value=<%= _tikuCode %>><%= _tikuName %></option>
                        <%}%>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-4 padding-right-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                        <span class="input-group-addon">タグ</span>
                        <select class="form-control input-sm" name="tag">
                        <option value=0>---</option>
                        <% for(var i in tagCodeInfo){
                            var _tagCode = tagCodeInfo[i].tags_id;
                            var _tagName = tagCodeInfo[i].tags; %>
                            <option value=<%= _tagName %>><%= _tagName %></option>
                        <%}%>
                    </select>
                    </div>
                </div>
                <div class="col col-sm-2 padding-right-zero">
                    <div class="checkbox">
                        <input type="checkbox" class="is_kako">故者含む
                    </div>
                    <!-- /input-group -->
                </div>
             </div>
          </div>
      <!-- inner_filter end -->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
          <div class="table_main_result">
            <div class="row">
              <div class="col col-sm-12 left">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th id="table_name_full_th">氏名</th>
                            <th id="table_tiku_name_th">地区</th>
                            <th id="table_tag_th">タグ</th>
                            <th id="table_jiin_th">寺院</th>
                            <th id="table_kako_th">故</th>
                        </tr>
                    </thead>
                    <tbody id="target_list" >
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>