<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">
<title>檀家管理システム　禅</title>

  <!-- jQuery JS -->
  <script src="/js/jquery-1.10.2.min.js"></script>

  <!-- Bootstrap JS & CSS -->
  <script src="/js/bs3.0.3/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/bs3.0.3/bootstrap.css' />

  <!-- Select2 JS & CSS -->
  <link rel='stylesheet' href='/stylesheets/select2-3.4.5/select2.css' />
  <link rel='stylesheet' href='/stylesheets/select2-3.4.5/select2-bootstrap.css' />
  <script src="/js/select2-3.4.5/select2.js"></script>

  <!-- Default CSS -->
  <!-- <link rel='stylesheet' href='/css/style.css' /> -->
  <link rel="stylesheet" href="stylesheets/zen_main_danka.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/zen_parts_danka.css" type="text/css" id="zen_parts_danka">

  <!-- icons from font Awesome -->
  <link rel="stylesheet" href="stylesheets/font-awesome/font-awesome.css">

  <!-- socket.IO -->
  <script src="/socket.io/socket.io.js"></script>


<script>
 <!-- 表中の偶数行の色を変える -->
 $(function(){

   $("tbody tr:nth-child(even)").addClass("even");

   $("tbody tr").click(function(){
     var id = $(this).children(".table_name_full_kosyu").attr("id");
     location.href = "/danka_detail_top?id=" + id;
   });
    $("button").click(function(){
        $(".hide").removeClass("hide");
        var trCount = $("tr").size() -2;
        var filterSelectedTiku = $("select[name='tiku_name']").val();
        var filterSelectedSewa = $("select[name='sewa_name']").val();
        var filterSelectedTag = $("select[name='tag_name']").val();

        // [地区]フィルタの実装
        if(filterSelectedTiku !== '0'){
            $(".table_tiku_name").each(function(){
                var itemValue = $(this).attr("id");
                if(itemValue !== filterSelectedTiku){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }
        // [世話人]フィルタの実装
        if(filterSelectedSewa !== '0'){
            $(".table_sewa_name").each(function(){
                if($(this).parent().hasClass("hide")){
                    return true;
                }
                var itemValue = $(this).attr("id");
                if(itemValue !== filterSelectedSewa){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }
        // [タグ]フィルタの実装
        if(filterSelectedTag !== '---'){
            $(".table_tag_name").each(function(){
                if($(this).parent().hasClass("hide")){
                    return true;
                }
                var itemValue = $(this).attr("id");
                var tagsInfoInMM = itemValue.split(",");
                var isContainTag = false;
                for(var key in tagsInfoInMM){
                    var _tagName = tagsInfoInMM[key];
                    if(_tagName == filterSelectedTag){    
                        isContainTag = true;
                        break;
                    }
                }
                if(!isContainTag){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }

        // [檀家種別]フィルタの実装（故人チェック）
        var isKako = $(".isKako").prop('checked');
        if(!isKako){
            $(".table_kako").each(function(){
                if($(this).parent().hasClass("hide")){
                    return true;
                }
                var itemValue = $(this).text();
                if(itemValue === "○"){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }

        // .evenを付け替える
        $("tbody tr").removeClass("even");
        var evenCount = 1;
        $("tbody tr:not(.hide)").each(function(){
           if((evenCount)%2 === 0){
               evenCount++;
               return true;
           }
           $(this).addClass("even");
           evenCount++;
        });
        $("#inner_fiter_sum_count").text("[検索件数]：" + trCount + "件");

    });
 });
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><span class="ja">スケジュール</span><span class="en">schedule</span>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
            <li><span class="ja">台帳管理</span><span class="en">master</span>
            <li><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><span class="ja">備品管理</span><span class="en">stock-manage</span>
            <li><span class="ja">寺院情報</span><span class="en">user-info</span>
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div id="inner_title">
        <div id="title">
   	  <h2><span class="ja">檀家管理</span><span class="en">danka manage</span></h2>
        </div>
        <div id="menu_sub">
          <ul>
            <li><a href="/danka_syosai_new">検索(簡易)</a>
            <li><a href="/danka_50">検索(50音)</a> 
            <li><a href="/danka_syosai">検索(詳細)</a>
            <li><a href="/danka_tuika">戸主追加</a> 
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_title -->
      <div class="inner_filter">
          <div class="row">
                <div class="col col-sm-10 form-group">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                      <input type="text" id="serch_tag" class="form-control input-sm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm left">検索</button>
                      </span>
                    </div>
                </div>
          </div>
          <div class="row">
            <div class="col col-sm-12 form-group">
                <form class="form-inline pull-left">
                    <label class="control-label">[地区]</label>
                    <select class="form-control input-sm" id="tiku_list"  name="tiku_name" >
                        <% for(var i in tikuCodeInfo){
                            var _tikuCode = tikuCodeInfo[i].tiku_code;
                            var _tikuName = tikuCodeInfo[i].tiku_name; %>
                            <option value=<%= _tikuCode %>><%= _tikuName %></option>
                        <%}%>
                     </select>
                     <label>[所属寺]</label></label>          
                     <select class="form-control input-sm" id="sewa_list"  name="sewa_name" >
                        <option value=0>---</option>
                        <option value=1>長伝寺</option>
                        <option value=1>水月寺</option>
                     </select>
                     <label class="control-label">[タグ]</label></label>          
                     <select class="form-control input-sm" id="tag_list"  name="tag_name" >
                        <option value="0">---</option>
                        <% for(var i in tagCodeInfo){
                            var _tagCode = tagCodeInfo[i].tags_id;
                            var _tagName = tagCodeInfo[i].tags; %>
                            <option value=<%= _tagName %>><%= _tagName %></option>
                        <%}%>
                     </select>
                     <label class="control-label"><input type="checkbox" class="isKako" checked>故人</label>
                </form>
            </div>
          </div>
        </div>






          <div id="inner_fiter_main">


          </div>
            <div id="inner_filter_main_button">
                <button id="test" type="submit">フィルタ</button>
            </div>
      </div>
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div id="inner_main">
          <div class="table_main_result">
            <table>
              <thead>
                <tr>
                  <th class="table_name_full_th" rowspan="2">氏名</th>
                  <th class="table_danka_type_th" colspan="2">区分</th>
                  <th class="table_tiku_name_th" rowspan="2">地区</th>
                  <th class="table_sewa_name_th" rowspan="2">世話人</th>
                  <th class="table_name_full_kosyu_th" rowspan="2">戸主</th>
                  <th class="table_kako_th" rowspan="2">故</th>
                </tr>
                <tr>
                  <th class="table_danka_type_danka_th">檀家</th>
                  <th class="table_danka_type_shinto_th">信徒</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
      </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>