@charset "UTF-8";

/* 共通定義(メイン部分) */
#inner_main_genkako{
    margin: 10px 0 0 0;
    width: 630px;
}
/* 表の上に説明書きをする際のレイアウト */
.title_comment{
    height: 23px;
    width: 630px;
    text-align: left;
    font-size: medium;
    color: red;
}

.title_name{
    height: 26px;
    width: 85px;
    text-align: left;
    color: black;
    padding: 2px 0 0 13px;
    font-size: large;
    border-radius: 6px;
    background-color : rgb(231, 206, 140);
}

/* 共通定義(メイン部分) */
#table_main_kihon_gen{
    margin: 5px 0 0 0;
}

/* 検索結果画面-個別定義 */
#inner_main_gen_title{
    padding: 0;
    text-align: left;
    font-size: medium;
    color: red;
}

#inner_main_easy_search {
    margin: 10px 10px 0 0;
}

#inner_filter_main_easy_search {
    margin: 0 10px 0 0;
    padding: 10px;
    border: solid 1px #BA802F;
    height: 95px;
    width: fill-available;
    font-size: small;
}


/* 検索結果画面-個別定義 */

#table_main_kosyu_th{
    width: 40px;
}

#table_main_gen_name_th{
    width: 130px;
}

#table_main_tiku_code_th{
    width: 60px;
}

#table_main_tiku_number_th{
    width: 57px;
}
   
#table_main_tags_th{
    width: 207px;
}
      
#table_main_jiin_th{
    width: 50px;
}

#table_main_operation_kosyu{
    width: 91px;
}

/* 検索結果画面-個別定義 */

#table_main_kako_kosyu_th{
    width: 40px;
}

#table_main_kako_zokumei{
    width: 130px;
}

#table_main_kako_kaimyo{
    width: 170px;
}

#table_main_kako_meinichi{
    width: 109px;
}
   
#table_main_kako_kyonen{
    width: 45px;
}
      
#table_main_kako_relation{
    width: 50px;
}

#table_main_kako_operation{
    width: 91px;
}

.genkako-table-td-label{
    padding-top: 2px;
    font-weight: normal;
}

.genkako-td-operation{
    float: left;
    border: none !important;
}

.kosyu-change-comment{
    font-size: medium;
    font-weight: normal;
    padding: 15px 0 5px 0;
}