@charset "Shift_JIS";

/* 共通定義 */
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-image : url(../img/bg_3Da_01.png);
    background-position: top center;
    background-repeat: repeat-y;
    background-color: #E5D6AB;
    height: 100%
}
#container{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 75%;
    font-family: 'メイリオ' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    color: #666666; /* 標準文字色 */
    position: relative;
    width: 900px;
    min-height:100%;
    background-color: #FFFFFF;
    background-image : url(../img/header_img.png);
    background-position: top center;
    background-repeat: repeat-x;
}
  #header{
      margin: 0;
      padding: 0;
      height: 81px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #BA802F;
  }

/* ヘッダー内パーツ */
    #headerMain{
      margin: 0;
      padding: 0;
    }
    #headerMain h1{
      margin:0;
      padding: 5px 0 0 10px;
      font-weight: normal;
      text-align: left;
      font-size: 12px;
      color: #FFFFFF;
      font-family: 'AR P明朝体L' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    }
    #headerLogo{
      margin: 0;
      padding: 17px 0 0 10px;
      text-align: left;
      font-size: 19px;
      font-weight: bold;
      font-family: 'AR P明朝体L' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    }
  #inner{
      margin: 0;
      padding: 0;
      overflow: hidden;
      min-height: 400px;
      padding-bottom: 50px;
  }
    #menu_box{
      margin: 0;
      padding: 0;
      float: left;
      width: 200px;
    } 
      #temple_img{
        margin: 10px 0 0 0;
        padding: 0;
        width: 200px;
        height: 134px;
        border: solid 1px #393939;
      }   
      #menu{
        margin: 0;
        padding: 0;

      }
        #menu ul{
          margin: 10px 0 0 0;
          padding: 0;
          list-style-type: none;
        }
          #menu li{
          margin: 0;
          padding: 0;
          display: block;
          width: 200px;
          height: 45px;
          line-height: 45px;
          overflow: hidden;
          background-position: top left;
          background-repeat: no-repeat;	
        }

.menu_disable{
        background-image : url(../img/menubar_disable.png);
}
.menu_enable{
        background-image : url(../img/menubar.png);
}
          #menu li a{
            margin: 0;
            padding: 0;
            display: block;
            text-align: center;
            text-decoration: none;
          }
          #menu li{
            overflow: hidden;
          }
            #menu li span.ja{
              margin: 0;
              padding: 0 10px 0 20px;
              display: block;
              text-align: left;
              float: left;
              color: #FFFFFF;
              font-size: 14px;
            }
            #menu li span.en{
              margin: 0;
              padding: 0;
              display: block;
              text-align: left;
              color: #F7C05B;
              font-size: 12px;
            }
            #menu li a:hover{
              margin: 0;
              padding: 0;
              display: block;
              text-decoration: none;
              background-image : url(../img/menubar_on.png);
              background-position: top left;
              background-repeat: repeat-x;
            }
    #wrapper{
      margin: 0 0 10px 0;
      padding: 0;
      float: right;
      width: 650px;
    }
      #inner_title{
        margin: 5px 0 0 0;
        padding: 0;
      }
        #title{
          margin: 0;
          padding: 0;
          height: 45px;
          text-align: left;
          overflow: hidden;
          background-image : url(../img/titlebar.png);
          background-position: top left;
          background-repeat: no-repeat;
        }
          #title h2{
            margin: 0;
            padding: 2px 0 0 15px;
            font-family: 'AR P明朝体L' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
            font-weight: bold;
          }

            #title h2 span.ja{
              margin: 0;
              padding: 0 15px 0 0;
              font-size: 15px;
              color: #ffffff;
            }
          #title h2 span.en{
            margin: 0;
            padding: 0;
            font-size: 13px;
            color: #F7C05B;
          }

      #menu_sub{
        margin: 10px 0 0 0;
        padding: 0;
        height: 31px;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: #a97328;
      }
        #menu_sub ul{
          margin: 10px 0 0 0;
          padding: 0;
          list-style-type: none;
          overflow: hidden;
        }
          #menu_sub li{
            margin: 0 5px 0 0;
            padding: 1px 0 0 0;
            height: 30px;
            width: 100px;
            float: left;
            font-size: 15px;
            cursor: pointer;
            background-color :  rgba(169, 115, 40, 0.40);
            border-radius: 5px;
          }
          #menu_sub li.selected{
            margin: 0 5px 0 0;
            padding: 1px 0 0 0;
            height: 30px;
            width: 100px;
            float: left;
            font-size: 15px;
            cursor: pointer;
            background-color :#a97328;
          }
          #menu_sub a{
            padding: 5px 0 0 0;
            color: #ffffff;
            display: block;
            border-radius: 5px;
            text-decoration: none;
          }
          #menu_sub a:hover{
            padding: 5px 0 0 0;
            display: block;
            text-decoration: none;
            background-color :#5b411c;
          }
    #inner_main{
      margin: 0;
      padding: 0;
    }
  #footer{
    margin: 0 0 15px 0;
    padding: 0;
    height: 20px;
    width: 100%;
	position: absolute;       /* 絶対位置指定することを定義 */
	bottom: 0px;              /* 絶対位置指定(左0px,下0px) */
  }
  #footer_main{
    height: 20px;
    background-color: #a97328;
    background-image : url(../img/header_img.png);
  }

