@charset "Shift_JIS";

/* 共通定義 */
.inner_main{
    margin: 10px 0 0 0;
}

.inner_main table{
    border-width: 1px;
    border-style: solid;
    border-color: #D1CCC4;
}

.table_main_kako{
    width: 630px;
}
      
.table_main_kako_header{
    color: #ffffff;
    font-size: 14px;
    background-color : #804000;
}
      
#table_main_kako_zokumei{
    width: 110px;
}

#table_main_kako_kaimyo{
    width: 155px;
}

#table_main_kako_meinichi{
    width: 110px;
}

#table_main_kako_kyonen{
    width: 35px;
}

#table_main_kako_sesyu{
    width: 110px;
}

#table_main_kako_relation{
    width: 70px;
}


.table_main_kako tbody tr:hover{
    background: orange;
    cursor: pointer;
}

