@charset "Shift_JIS";

/* 共通定義 */
.inner_main{
    margin: 10px 0 0 0;
}

.confirm_title_comment{
    color: red;
    height: 20px;
    width: 600px;
    text-align: left;
}
    
.confirm_title_comment_main{
    color: red;
    margin: 0 10px 0 0;
    font-size: medium;
}

.confirm_title_comment_sub{
    font-size: small;
}

.table_main_kihon{
    margin: 5px 0 0 0;
    width: 630px;
}
 
.table_main_kihon_header_komoku{
    width: 130px;
}

.table_main_kihon_header_naiyo{
    width: 500px;
}
.is_change{
    background: orange;
}











