@charset "Shift_JIS";

/* 共通定義 */
.inner_title{
    margin: 10px 0 0 0;
}

.title{
    height: 45px;
    text-align: left;
    overflow: hidden;
    background-image : url(../../img/titlebar.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.title h2{
    margin: 0;
    padding: 10px 0 0 15px;
}

.title h2 span.ja{
    padding: 0 15px 0 0;
    font-size: 15px;
    color: #ffffff;
}

.title h2 span.en{
    font-size: 13px;
    color: #F7C05B;
}

/* ------------------------------ */

/* サマリ戸主表示箇所 */
.kosyu_info{
    margin: 10px 0 0 0;
    width: 510px;
    height: 70px;
    text-align: center;
    font-size: 14px;
    color: #666666; /* 標準文字色 */
}

.kosyu_info th{
    height: 30px;
    color: #ffffff;
    border: solid 0.5px #BA802F;
    border-collapse: collapse;
    background-color : #804000;
}

.kosyu_info td{
    padding: 2px 0 0 10px;
    height: 30px;
    text-align: left;
    font-size: 12px;
    border: solid 0.5px #BA802F;
    border-collapse: collapse;
}

.kosyu_info_kosyu_th{
    width: 120px;
}
      
.kosyu_info_type_danka_th{
    width: 50px;
}

.kosyu_info_type_shinto_th{
    width: 50px;
}

.kosyu_info_tiku_th{
    width: 120px;
}
      
.kosyu_info_sewa_th{
    width: 120px;
}
      
.kosyu_info tbody tr{
    background: #ffdfbf;
}

/* ------------------------------ */

.menu_sub{
    margin: 10px 0 0 0;
    height: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #BA802F;
}
        
.menu_sub ul{
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.menu_sub li{
    margin: 0 5px 0 0;
    padding: 5px 0 0 0;
    height: 26px;
    width: 100px;
    display: block;
    float: left;
    color: white;
    font-size: 15px;
    cursor: pointer;
    background-color : #804000;
}

.menu_sub li:hover{
    background-color : #3c0000;
}
