/* A4印刷設定 */
body {
  margin: 0;
  padding: 0;
  width: 210mm;
  background-color: white;
  background-image: none;
}
head+body {
  width: 210mm;
  max-width: 210mm;
  min-width: 210mm;
  margin: 0 auto;
}

body > div {
  position: relative;
}

.backImage {
  position:relative;
  top:0mm;
  left: 0mm;
  text-align:center;
}

.text {
  position: absolute;
}

.page-breaker {
  page-break-before: always;
  page-break-inside: avoid;
  page-break-after: always;
}

/* 印刷時の余白 */
@page {
 margin-top:0cm;
 margin-bottom:0cm;
 margin-left:0cm;
 margin-right:0cm;
}


/* WOFFフォント設定 */
@font-face {
  font-family:'font_ipa_min';
  src: url("/font/ipaexm.woff") format('woff');
}

@font-face {
  font-family:'font_ipa_gos';
  src: url("/font/ipaexg.woff") format('woff');
}


/* 印刷内容の装飾 */
atena {
  font-size: 4mm;
  font-family:'font_ipa_gos', sans-serif;
}

daimei {
  font-size: 6mm;
  font-family:'font_ipa_min', serif;
}

.souhujo {
  font-size: 5mm;
  font-family:'font_ipa_min',serif;
}

kingaku {
  font-size: 7mm;
  font-family:'font_ipa_min', serif;
}

ryoukin {
  font-size: 5mm;
  letter-spacing: 0.38em;
  font-family:'font_ipa_gos',sans-serif;
}

tokyusyu {
  font-size: 5mm;
  letter-spacing: 0.38em;
  font-family:'font_ipa_gos', sans-serif;
}

kanyuName {
  font-size: 6mm;
  font-family:'font_ipa_gos', sans-serif;
}

.tuusin {
  font-size: 4mm;
  font-family:'font_ipa_gos', sans-serif;
}

iraiJusyo {
  font-size: 2mm;
  font-family:'font_ipa_gos', sans-serif;
}

iraiName {
  font-size: 4mm;
  font-family:'font_ipa_gos', sans-serif;
}

/* ケタ合わせが必要なフィールド群のフォント設定 */
/* win-ie用 */
.win.ie .ketafont {
  font-size: 5mm;
  letter-spacing: 0.40em;
  font-family:'font_ipa_gos', sans-serif;
}

/* win-chrome用 */
.win.chrome .ketafont {
  font-size: 5mm;
  letter-spacing: 0.40em;
  font-family:'font_ipa_gos, sans-serif;
}

/* デフォルト */
.ketafont {
  font-size: 5mm;
  letter-spacing: 0.40em;
  font-family:'font_ipa_gos',sans-serif;
  text-align:right; 
}

/* ケタ合わせが必要なフィールド群の位置設定 */
/* win-ie用位置調整 */
.win.ie .textKingakuPosition {
  position: absolute;
  top: 196mm;
  left: 85mm;
}

.win.ie .textGoiraiKingakuPosition {
  position: absolute;
  top: 228mm;
  left: 141mm;
}

/* win-chrome用位置調整 */
.win.chrome .textKingakuPosition {
  position: absolute;
  top: 196mm;
  left: 85mm;
}

.win.chrome .textGoiraiKingakuPosition {
  position: absolute;
  top: 228mm;
  left: 141mm;
}

/* mac-chrome用位置調整 */
.mac.chrome .textKingakuPosition {
  position: absolute;
  top: 196mm;
  left: 85mm;
}

.mac.chrome .textGoiraiKingakuPosition {
  position: absolute;
  top: 228mm;
  left: 141mm;
}

/* chrome用位置調整 */
.chrome .textKingakuPosition {
  position: absolute;
  top: 196mm;
  left: 85mm;
}

.chrome .textGoiraiKingakuPosition {
  position: absolute;
  top: 228mm;
  left: 141mm;
}

/* firefox用位置調整 */
.gecko .textKingakuPosition {
  position: absolute;
  top: 196mm;
  left: 85mm;
}

.gecko .textGoiraiKingakuPosition {
  position: absolute;
  top: 228mm;
  left: 141mm;
}

